.complaint-list-title-bar {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  margin-top: 5.5rem;
}

.complaint-list-title {
  flex: 1;
  text-align: center;
}

.complaint-list {
  display: flex;
  flex-direction: column;
}

.complaint-card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.complaint-card:hover {
  background-color: #f8f8f8;
}

.complaint-header {
  display: flex;
  flex-direction: row; /* Updated to row to align items side by side */
  justify-content: space-around;
}

.complaint-header h3,
.complaint-header p {
  margin: 10;
}

.complaint-description {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.complaint-card.expanded {
  background-color: #f0f0f0;
}
.Accept{
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Reject{
  padding: 10px 20px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.Reject:hover{
  padding: 10px 20px;
  background-color: #fc3636;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}